/*
Author       : Divya

*/
.head_icon{
    background-color: rgba(255, 255, 255, 0.1);
border: 1px solid rgba(255, 255, 255, 0.15);
border-radius: 50px;
color: #fff;
height: 40px;
padding: 10px 20px 10px 15px;
margin-top: 10px;
position: relative;
}
.wd20{
	max-width: 12.5% !important;
}
.icon_sta2t{
    width: 70%;
}
.icon_sta3t{
    width: 90%;
}
.txt_cntr{
    text-align: center;
}
.icon_sta4t{
    width: 54%;
}
.blue_bg{
    background:#1c7cdb3d !important;
}
.under_process{
	font-size: 12px !important;
}
.form-group{
	margin-bottom: 2px 
}
#profile_hide{
	display: none;
}
.form-control.is-datepick {
  background: #0196e84d;
}
.select_drop ul{
	list-style: none;
	border: 1px solid #d2cbcb;
	padding-left: 10px;
	max-height: 200px;
overflow: auto;
}
.listbox_details ul {
	list-style: none;
	border: 1px solid #d2cbcb;
	padding-left: 10px;
}
.scroll{
    max-height: 750px;
overflow-y: auto;
}
.mr-2{
    margin-right: .5rem !important;
}
.form-control[readonly]{
	background-color: #FBFBCE !important;
	cursor: not-allowed;
}
.filter-row {
    margin-top: 10px;
    margin-bottom: 10px;
}
.ml10{
	margin-left: 10px;
}
.wd65{
	width: 65px;
}
.nmt-40{
	margin-top: -40px;
}
.nmt-3{
	margin-top: -3%;
}
.card-body{
	padding: 5px !important;
}
.lbl_name{
font-size: 12px;
color: #025cd0;
}
.lbl_value{
font-size: 12px;
}
.new_tblhead {
	background: #dee2e6;
	color: black;
}
.right_align{
	float: right;
}
.mandatory{
	color: red;
}
.input_read{
	background-color: #FBFBCE !important
}
.info{
	display: inline-flex;
}
.emp_radio {
	margin-top: 7px;
	color: #018de4;
}
.file_upload{
	width: 150px;
	margin-right: 10px;
}
.box-title {
	font-size: 16px !important;
	text-align: center;
	color: #0188e2;
	padding-top: 10px;
}
/* croppie css start */
label.cabinet{
	display: block;
	cursor: pointer;
}

label.cabinet input.file{
	position: relative;
	height: 100%;
	width: auto;
	opacity: 0;
	-moz-opacity: 0;
  filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
  margin-top:-30px;
}

#upload-demo{
	width: 250px;
	height: 250px;
  padding-bottom:25px;
}
figure figcaption {
    position: absolute;
    bottom: 0;
    color: #fff;
    width: 100%;
    padding-left: 9px;
    padding-bottom: 5px;
    text-shadow: 0 0 10px #000;
}
/* croppie css end */
.pagination{

	
	padding: .5rem .75rem

}
.pagination a{

	
margin-left: 10px;
margin-right: 10px;

}
.previous_page.disabled {

	margin-left: 12%;
}
.current{
	margin-right: 10px;
	margin-left: 10px;
}
.next_page{
	
}
.previous_page {
	
}
.filter_flex{
	flex: 0 0 10%;
max-width: 100%;
}
/* .rating {
  display: flex;
  width: 100%;
  justify-content: center;
  overflow: hidden;
  flex-direction: row-reverse;

  position: relative;
}
#center{
	text-align: center;
}
.rating-0 {
  filter: grayscale(100%);
}

.rating > input {
  display: none;
}

.rating > label {
  cursor: pointer;
  width: 40px;
  height: 40px;
  margin-top: auto;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23e3e3e3' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 76%;
  transition: .3s;
}

.rating > input:checked ~ label,
.rating > input:checked ~ label ~ label {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23fcd93a' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
}


.rating > input:not(:checked) ~ label:hover,
.rating > input:not(:checked) ~ label:hover ~ label {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23d8b11e' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
}

 */
 .user-dashboard-star{float: left; width: 100%; height: auto; background: #eaf6ed; padding: 20px 20px;}
 .user-dashboard-star h3{text-transform: uppercase; color: #333 !important;font-size: 18px; font-family: 'Raleway' !important; font-weight: 600;     margin-bottom: 15px;}
 .user-dashboard-star h3 span{color: #97d0a3; margin: -15px 0 0 5px;}
 
 .user-dashboard-star p{float: left;
	 width: 100% !important;
	 color: #737373 !important;
	 font-size: 15px;
	 padding: 0;
	 margin: 0;}
 
 .user-dashboard-fivestar{float: left;}
 .user-dashboard-fivestar span{float: left; width: 100%;padding-top: 5px }
 .starrating > input {display: none;}  /* Remove radio buttons */
 
 .starrating > label:before { 
   content: "\f005"; /* Star */
   margin: 2px;
   font-size: 20px;
   font-family: FontAwesome;
   display: inline-block; 
 }
 .review_txt{
	   
	 margin-left: 3px !important;
 }
 .starrating > label
 {
   color: #dbc4c4; /* Start color when not clicked */
 }
 
 .starrating > input:checked ~ label
 { color: yellow ; } /* Set yellow color when star checked */
 
 .starrating > input .active ~ label
 { color: #333 ; } /* Set yellow color when star checked */
 
 .new_star
 { color: yellow !important ; } /* Set yellow color when star checked */
 /* .active{
	 color: yellow  !important
 } */
 
 .starrating > input:hover ~ label
 { color: yellow ;  } /* Set yellow color when star hover */
 
 .activen{
	 color: yellow !important;
 }

 .nostarrating > input {display: none;}  /* Remove radio buttons */
 
 .nostarrating > label:before { 
   content: "\f005"; /* Star */
   margin: 2px;
   font-size: 20px;
   font-family: FontAwesome;
   display: inline-block; 
 }
 .nostarrating > label
 {
   color: #eec677; /* Start color when not clicked */
 }
 .review_title{
	 text-transform: uppercase;
 letter-spacing: 2px;
 color: #333;
 font-family: 'Raleway' !important;
 font-size: 30px !important;
 }
 .nostarrating > input:checked ~ label
 { color: gray ; } /* Set yellow color when star checked */
 .nmcapital{
	text-transform: uppercase !important;
 }
 #InnoteHr p{
     border: 1px solid #017fde;
text-align: justify;
padding-left: 10px;
padding-right: 10px;
max-height: 120px;
overflow-y: auto;
height:120px;
 }
#OutnoteSewdar p{
  border: 1px solid #017fde;
text-align: justify;
padding-left: 10px;
padding-right: 10px;
max-height: 120px;
height:120px;
overflow-y: auto;
}
.label-line::after {
	content: "";
	display: inline-block;
	/* height: 0.7em; */
	vertical-align: middle;
	width: 80%;
	margin-right: -100%;
	margin-left: 10px;
	border-top: 1px solid #ddd;
}
  /* Set yellow color when star hover */